@keyframes light-pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  to {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

@keyframes widen {
  from {
    transform: scaleX(0) translateX(-50%);
    }
    
  to {
    transform: scaleX(1) translateX(-50%);
  }
}

@keyframes riseInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}