#cta {
    gap: 2rem;
    height: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.cta-container {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.cta-extension {
    flex: 1;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: var(--global-radius);
}

.cta-card {
    z-index: 10;
    height: 20rem;
    padding: 1rem;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    backdrop-filter: blur(2px);
    border: 1px solid var(--blue);
    border-radius: var(--global-radius);
    transition: .5s ease background-color;
}

.cta-card:hover {
    background-color: var(--blue);
}

.cta-card-icon {
    top: 1rem;
    left: 1rem;
    opacity: 1;
    width: 30%;
    height: fit-content;
    position: absolute;
    color: var(--purple);
    transition: .5s ease opacity,
                .5s ease transform;
}

.cta-card:hover .cta-card-icon {
    opacity: 0;
    transform: translateY(-150%);
}

.cta-content {
    flex: 1;
    display: flex;
    transform: translateY(80%);
    flex-direction: column;
    transition: .5s ease top,
    .5s ease transform;
    justify-content: space-between;
}

.cta-card:hover .cta-content {
    flex: 1;
    transform: translateY(0);
}

.cta-title {
    width: 75%;
    font-size: 6vw;
    transition: .5s ease color
                .5s ease font-size;
}

.cta-card:hover .cta-title,
.cta-content:hover .cta-title {
    color: #ffffff;
}

.cta-text {
    transform: translateY(300%);
    transition: .3s ease color;
}

.cta-card:hover .cta-text {
    color: #ffffff;
    transform: translateY(0);
    transition: .3s ease color
                .5s ease transform;
}

.cta-header {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    flex-direction: column;
}

.cta-header .site-heading {
    margin: 1rem 0;
    font-size: 1.8rem;
    overflow: hidden;
}

.cta-header .site-heading span.animated {
    display: block;
    /* text-transform: uppercase; */
    animation: riseInUp 1s ease-out forwards;
}

.cta-header .site-heading span.color {
    color: var(--blue);
}

.cta-header .site-p {
    /* width: 40%; */
    /* opacity: .5; */
    font-size: 1rem;
    color: var(--blue);
    margin: 1rem 0;
}

.cta-header .site-p span {
    color: var(--purple);
}

.cta-header .site-btn {
    margin: 1rem 0;
    display: inline-block;
    color: #ffffff;
    background-color: var(--purple);
}

.cta-header .site-title {
    width: fit-content;
    position: relative;
    color: var(--blue);
    padding-bottom: 1rem;
} 

.cta-header .site-title::after {
    left: 50%;
    bottom: 0;
    width: 50%;
    content: '';
    height: .5rem;
    position: absolute;
    border-radius: 1rem;
    transform-origin: left;
    transform: translateX(-50%);
    background-color: var(--blue);
    animation: widen 1s ease forwards;
    animation-fill-mode: both;
}

.cta-card .site-p {
    font-size: 1.1rem;
}


@media screen and (min-width: 768px) {
    
    #cta {
        padding: 2rem;
    }
    
    .cta-header .site-heading {
        width: 80%;
    }
    
    .cta-header .site-p {
        width: 80%;
        margin: 0;
    }
    
    .cta-header .site-btn {
        margin: 2rem 0;
    }

    .cta-extension {
        flex-direction: row;
    }

    .cta-title {
        width: 100%;
        font-size: 2.5vw;
    }

}

@media screen and (min-width: 1024px) and (orientation: landscape) {
        
    #cta {
        padding: 2rem;
    }
    
    .cta-header .site-heading {
        width: 80%;
    }
    
    .cta-header .site-p {
        margin: 0;
    }
    
    .cta-header .site-btn {
        margin: 2rem 0;
    }

    
    .cta-title {
        width: 100%;
        font-size: 2vw;
    }
}

@media screen and (min-width: 1280px) {
    
    #cta {
        gap: 5rem;
        padding: 2rem 5rem;
    }

    .cta-header {
        width: 100%;
        padding: 1rem 0;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .cta-header .content {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    }

    .cta-container {
        height: fit-content;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .cta-header .site-title {
        display: none;
    }

    .cta-header .site-heading {
        width: 40%;
        font-size: 3rem;
        text-align: left;
        flex-shrink: 0;
    }
    
    .cta-header .site-p {
        /* width: 50%; */
        text-align: right;
        font-size: 1.5rem;
    }
    
    .cta-header .site-btn {
        margin: 2rem 0;
    }

    .cta-cards {
        flex: .6;
        margin: 0;
    }

    .cta-extension {
        height: 75vh;
    }
}

@media screen and (min-width: 1600px) {    
    #cta {
        margin: 5rem 0;
        padding: 2rem 8rem;
    }
    
    .cta-header {
        /* flex: .4; */
    }

    .cta-header .site-heading {
        width: 50%;
        font-size: 5rem;
    }
        
    .cta-header .site-p {
        /* width: 30%; */
        margin: 1rem 0;
    }

    .cta-header .site-btn {
        margin: 1rem 0;
    }
    
    .cta-card {
        height: 25rem;
    }

    .cta-content {
        transform: translateY(90%);
    }

    .cta-title {
        font-size: 1.8rem;
    }
}