footer {
    gap: 5rem;
    margin: .5rem;
    padding: 1rem;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--global-radius);
    background-color: var(--black);
}

.footer-container {
    gap: 5rem;
    display: flex;
    flex-direction: column;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

footer h2 {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.footer-form {
    display: flex;
    padding: .5rem;
    background: #ffffff20;
    border: 1px solid #ffffff30;
}

.footer-form input {
    flex: 1;
    color: #ffffff;
    background: none;
    border: none;
}

.footer-form input:focus {
    outline: none;
}

.footer-form button {
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: .25rem;
    text-transform: uppercase;
    background-color: var(--purple);
}

footer h2 span {
    color: var(--blue);
}

.footer-nav {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-nav a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.footer-nav .nav-link::after {
    left: 10%;
}

.footer-footnotes {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.footer-logo {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-footnotes .date{
    color: #ffffff;
    text-align: center;
}

.footer-logo img {
    height: 100%;
}

@media screen and (min-width: 1240px) {
    footer {
        padding: 2rem 2rem 0 2rem;
        min-height: 60vh;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    footer h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    
    .footer-nav {
        gap: .5rem;
        display: flex;
        flex-direction: column;
    }
    
    .footer-nav a {
        text-align: right;
    }

    .footer-contact {
        width: fit-content;
    }

    .footer-logo {
        width: fit-content;
    }

    .footer-footnotes {
        padding: 2rem 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #ffffff30;
    }

    .footer-footnotes .date {
        height: fit-content;
    }
}