footer {
    gap: 5rem;
    height: 100%;
    margin: .5rem;
    padding: 1rem;
    display: flex;
    min-height: 40vh;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--global-radius);
    background-color: var(--black);
}

.footer-container {
    gap: 5rem;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

footer .site-heading {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

footer .site-heading span {
    color: var(--blue);
}

.footer-nav {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-nav a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.footer-nav .nav-link::after {
    left: 10%;
}

.footer-footnotes {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ffffff30;
}

.footer-logo {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-footnotes .date{
    color: #ffffff;
    text-align: center;
}

.footer-logo img {
    height: 100%;
}

@media screen and (min-width: 768px) {
    footer {
        /* min-height: 50vh; */
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    footer .site-heading {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    .footer-contact {
        width: fit-content;
    }
        
    .footer-nav {
        gap: .5rem;
        display: flex;
        flex-direction: column;
    }
    
    .footer-footnotes {
        padding-top: 1rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer-logo {
        width: fit-content;
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
    footer {
        min-height: 50vh;
    }
}

@media screen and (min-width: 1240px) {
    footer {
        min-height: 60vh;
        padding: 2rem 2rem 1rem 2rem;
    }

    footer .site-heading {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1600px) {
    
}