footer {
    height: 25vh;
    margin: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--global-radius);
    background-color: #1e1e1e;
}

.footer-container {
    gap: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-nav {
    gap: 1rem;
    display: flex;
    justify-content: center;
}

.footer-nav a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.footer-nav .nav-link::after {
    left: 10%;
}

.footer-logo {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container .date{
    color: #ffffff;
    text-align: center;
}

.footer-logo img {
    height: 100%;
}

footer .social-link {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    
    .footer-logo {
        width: fit-content;
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
    .footer-container {
        align-items: center;
        flex-direction: row;
    }
}

@media screen and (min-width: 1240px) {
    footer {
        height: auto;
    }

    .footer-container {
        position: relative;
    }

    .footer-nav {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    footer .site-heading {
        margin-bottom: 1rem;
    }
}