@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #000000;
    --blue: #1E9D8B;
    --purple: #7C109A;
    --global-radius: .5rem;
    --base-font: 'Albert Sans', 'Noto Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--base-font);
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}