nav {
    z-index: 99 !important;
    height: 4rem;
    display: flex;
    padding: 0 1rem;
    position: relative;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.nav-logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.nav-logo img {
    width: 100%;
    height: auto;
}

nav .menu-toggle {
    border: none;
    cursor: pointer;
    background: none;
    color: #ffffff;
    font-size: 1.5rem;
}

nav ul {
    gap: 1rem;
    display: none;
}

.nav-link {
    color: #ffffff;
    font-weight: 600;
    position: relative;
    text-decoration: none;
}

.nav-link::after {
    left: 0;
    top: 100%;
    height: 4px;
    width: 0;
    content: '';
    border-radius: 2px;
    position: absolute;
    background-color: var(--purple);
    transition: .3s ease width;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-actions {
    gap: 1rem;
    display: none;
}

.offcanvas {
    top: 0;
    width: 80%;
    height: 100%;
    position: fixed;
    background: #ffffff;
    z-index: 100 !important;
}

.offcanvas-header {
    height: 6rem;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

.offcanvas .nav-logo {
    width: 40%;
}

.offcanvas ul {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    nav {
        height: 8rem;
    }

    /* .nav-logo {
        width: 100%;
        height: 100%;
    } */

    .nav-logo img {
        width: auto;
        height: 50%;
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
    nav {
        height: 5rem;
    }

    .nav-logo img {
        height: 80%;
        width: auto;
    }
}

@media screen and (min-width: 1280px) {
    nav {
        padding: 0 2rem;
    }

    nav ul {
        left: 50%;
        gap: 2rem;
        display: flex;
        position: absolute;
        transform: translateX(-50%);
    }

    .nav-link {
        font-size: .8rem;
    }

    .nav-link.has-subnav {
        gap: .25rem;
        display: flex;
        align-items: center;
        position: relative;
    }

    .subnav {
        top: 2.5rem;
        left: 8rem;
        opacity: 0;
        gap: .25rem;
        width: 16rem;
        display: flex;
        padding: .5rem;
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: var(--global-radius);
        transition: .3s ease opacity,
                    .3s ease visibility,
                    .3s ease top;
    }

    .navlink-icon {
        transition: .3s ease transform;
    }

    .has-subnav:hover .navlink-icon {
        transform: rotateX(180deg);
    }

    .has-subnav:hover .subnav {
        top: 2rem;
        opacity: 1;
        visibility: visible;
    }

    .subnav .site-p {
        margin: .5rem;
        font-size: .9rem;
        color: var(--blue);
    }

    .subnav a {
        gap: 1rem;
        display: flex;
        padding: .5rem;
        color: #1e1e1e;
        align-items: center;
        text-decoration: none;
        border-radius: .25rem;
        transition: .3s ease background-color;
    }

    .subnav a:hover {
        background-color: #00000010;
    }

    .subnav-icon {
        width: 2rem;
        height: 2rem;
        display: flex;
        font-size: 1.2rem;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        border: 1px solid #00000030;
        background-color: #ffffff;
        transition: .3s ease border;
    }

    .subnav-item:hover .subnav-icon {
        border: 1px solid var(--blue);
    }

    .nav-logo {
        display: flex;
        align-items: center;
    }

    .nav-logo img {
        width: auto;
        height: 75%;
    }

    nav .menu-toggle {
        display: none;
    }

    nav .nav-actions {
        display: flex;
    }
}

@media screen and (min-width: 1600px) {
    
    .nav-link {
        font-size: .9rem;
    }
}