nav {
    height: 5rem;
    display: flex;
    padding: 0 1rem;
    position: relative;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.nav-logo {
    height: 100%;
}

.nav-logo img {
    width: 30%;
    height: auto;
}

nav .menu-toggle {
    border: none;
    cursor: pointer;
    background: none;
    color: #ffffff;
    font-size: 1.5rem;
}

nav ul {
    gap: 1rem;
    display: none;
}

.nav-link {
    color: #ffffff;
    font-weight: 600;
    position: relative;
    text-decoration: none;
}

.nav-link::after {
    left: 0;
    top: 100%;
    height: 4px;
    width: 0;
    content: '';
    border-radius: 2px;
    position: absolute;
    background-color: var(--purple);
    transition: .3s ease width;
}

.nav-link:hover::after {
    width: 100%;
}

@media screen and (min-width: 1240px) {
    nav {
        height: 8rem;
        padding: 0 2rem;
    }

    nav ul {
        left: 50%;
        display: flex;
        position: absolute;
        transform: translateX(-50%);
    }

    .nav-logo {
        display: flex;
        align-items: center;
    }

    .nav-logo img {
        width: auto;
        height: 75%;
    }

    nav .menu-toggle {
        display: none;
    }
}