#hypermenu {
    height: 100%;
    margin: 5rem 1rem;
    min-height: 100vh;
}

.carousel-container {
    gap: 2rem;
    height: 100%;
    display: flex;
    margin: 4rem 8rem;
    flex-direction: column;
    justify-content: space-between;
}

.carousel-sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}

.carousel-sidebar .header {
    text-align: center;
}

.carousel-sidebar .header .site-p {
    font-size: 1rem;
}

#carousel-list {
    gap: 1rem;
    display: none;
    /* max-height: 60%; */
    overflow-y: auto;
    flex-direction: column;
    position: relative;
    overscroll-behavior-y: contain;
}

#carousel-list.mobile {
    display: flex;
    padding: 1rem;
}

#carousel-list::before {
    top: -3rem;
    left: 0;
    position: absolute;
    color: var(--purple);
    content: 'Scroll for more';
}

.carousel-sidebar .site-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.carousel-sidebar h2 span {
    color: var(--purple);
    font-family: inherit;
}

.carousel-sidebar .site-p {
    font-size: 1.2rem;
    color: var(--blue);
    margin-bottom: 2rem;
}

.carousel-item{
    display: flex;
    padding: 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--blue);
    transition: .3s ease background-color;
}

.carousel-item:hover {
    background-color: #1E92A3;
}

.carousel-item .site-heading {
    font-size: 1.2rem;
    transition: .3s ease color;
}

#root.light .carousel-item:hover .site-header {
    color: #ffffff;
}

.carousel-item span {
    color: var(--purple);
}

#carousel-panels {
    gap: 1rem;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    grid-template-rows: repeat(6, 1fr);
    border-radius: var(--global-radius);
    grid-template-columns: repeat(6, 1fr);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1) */
}

#carousel-panels > .panel {
    border-radius: var(--global-radius);
    /* background-color: #00000010; */
}

.carousel-panel {
    display: flex;
}

#panel-1 {
    padding: 1rem;
    display: flex;
    align-items: center;
    grid-area: 1 / 1 / 2 / 7;
    background-color: var(--blue);
}

#carousel-panels .site-heading {
    margin: 0;
    font-size: 6vw;
    color: #ffffff;
}

#panel-2 {
    padding: 1rem;
    grid-area: 2 / 1 / 7 / 3;
    background-color: #1E92A330;
}

#panel-2 .service-title {
    color: #1E92A3;
    margin-bottom: 2rem;
}

#panel-2 ul {
    gap: 1rem;
    display: flex;
    list-style: none;
    flex-direction: column;
}

#panel-2 ul li {
    padding: .5rem;
    font-weight: 600;   
    border-left: 4px solid #1E92A3;
    /* background-color: #1E92A330; */
}

#panel-3 {
    min-height: 16rem;
    display: flex;
    position: relative;
    align-items: flex-end;
    overflow: hidden;
    
    grid-area: 2 / 3 / 7 / 7;
}

#panel-3 .details {
    gap: 2rem;
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to top, #000000, #00000000);
}

#panel-3 p {
    width: 100%;
    color: #ffffff;
    font-size: .9rem;
}

#panel-3 .site-btn {
    width: fit-content;
    display: grid;
    place-items: center;
    text-decoration: none;
}

#panel-3 img {
    top: 0;
    left: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

@media screen and (min-width: 1080px) { 
    #hypermenu {
        width: 70%;
        margin: 10rem auto;
    }

    #carousel-panels .site-heading {
        font-size: 3vw;
    }
}

@media screen and (min-width: 1280px) {
    #hypermenu {
        width: auto;
        height: 90vh;
        /* padding: 4rem 0; */
        margin: 5rem 2rem;
    }

    .carousel-container {
        flex-direction: row;
    }

    .carousel-sidebar {
        width: 30%;
    }

    .carousel-sidebar .header {
        text-align: left;
    }

    .carousel-sidebar .header {
        text-align: left;
    }

    #carousel-list {
        display: flex;
    }
    
    #carousel-list.mobile {
        display: none;
    }

    #carousel-panels {
        display: grid;
    }

    #carousel-panels .site-heading{
        font-size: 2vw;
    }

    .carousel-item .site-heading {
        font-size: .9rem;
    }

    #carousel-panels ul li{
        font-size: .9rem    ;
    }
}

@media screen and (min-width: 1600px) {    
    #hypermenu {
        width: auto;
        height: 90vh;
        min-height: 0;
        padding: 4rem 0;
        margin: 5rem 8rem;
        flex-direction: row;
    }
    
    .carousel-sidebar {
        width: 30%;
    }
        
    .carousel-sidebar .header {
        text-align: left;
    }

    .carousel-container .site-heading {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    
    .carousel-item {
        /* height: min-content; */
    }
    
    .carousel-item .site-heading {
        font-size: 1rem;
        margin-bottom: 0;
    }

    #carousel-list {
        display: flex;
    }
    
    #carousel-list.mobile {
        display: none;
    }

    #carousel-panels {
        width: 65%;
        display: grid;
    }
    
    #carousel-panels .site-heading {
        font-size: 2vw;
    }

    #panel-4 {
        flex-direction: row;
        align-items: flex-end;
    }

    #panel-4 p {
        width: 70%;
        font-size: 1.2rem;
    }

    #panel-4 .site-btn {
        width: 25%;
    }

    #meetings .site-p {
        width: 30%;
    }
}