#hypermenu {
    height: 100vh;
    margin: 5rem 2rem;
    max-height: 80vh;
}

.carousel-container.desktop {
    gap: 2rem;
    height: 100%;
    display: flex;
    margin: 4rem 8rem;
    justify-content: space-between;
}

.carousel-sidebar {
    width: 30%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}

#carousel-list {
    gap: 1rem;
    display: flex;
    max-height: 60%;
    overflow-y: auto;
    flex-direction: column;
    position: relative;
    overscroll-behavior-y: contain;

    -webkit-mask-image: linear-gradient(
    to bottom,
    black 80%,           /* solid up to 80% */
    transparent 100%     /* fade in the last 20% */
    );

    mask-image: linear-gradient(
        to bottom,
        black 80%,
        transparent 100%
    );
}

#carousel-list::before {
    top: -3rem;
    left: 0;
    position: absolute;
    color: var(--purple);
    content: 'Scroll for more';
}

.carousel-sidebar .site-heading {
    font-size: 3rem;
    color: #0B0F14;
    margin-bottom: 1rem;
}

.carousel-sidebar h2 span {
    color: var(--purple);
    font-family: inherit;
}

.carousel-sidebar .site-p {
    font-size: 1.2rem;
    color: var(--blue);
    margin-bottom: 2rem;
}

.carousel-item{
    display: flex;
    padding: 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--blue);
    transition: .3s ease background-color;
}

.carousel-item:hover {
    background-color: #1E92A3;
}

.carousel-item .site-header {
    color: #0B0F14;
    transition: .3s ease color;
}

#root.light .carousel-item:hover .site-header {
    color: #ffffff;
}

.carousel-item span {
    color: var(--purple);
}

#carousel-panels {
    gap: 1rem;
    width: 65%;
    /* height: 100%; */
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border-radius: var(--global-radius);
    grid-template-columns: repeat(4, 1fr);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1) */
}

#carousel-panels > .panel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--global-radius);
    background-color: #00000010;
}

.carousel-panel {
    display: flex;
}

#panel-1 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: rgba(255, 182, 193, 0.5);
}

#panel-2 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: rgba(173, 255, 47, 0.5);
}

#panel-3 {
    grid-column: span 1;
    grid-row: span 4;
    background-color: rgba(255, 255, 224, 0.5);
}

#panel-4 {
    grid-column: span 2;
    grid-row: span 4;
    background-color: rgba(210, 180, 140, 0.5);
}

#panel-5 {
    grid-column: span 1;
    grid-row: span 2;
    background-color: rgba(144, 238, 144, 0.5);
}

#panel-6 {
    grid-column: span 1;
    grid-row: span 2;
    background-color: rgba(255, 160, 122, 0.5);
}

@media screen and (min-width: 1600px) {    
    #hypermenu {
        margin: 5rem 8rem;
    }
    
    .carousel-container .site-heading {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    #meetings .site-p {
        width: 30%;
    }
}