#team {
    height: 100%;
    padding: 4rem 1rem;
}

.team-container {
    height: 100%;
}

.team-banner {
    min-height: 80vh;
    border-radius: var(--global-radius);
    background: url('../assets/img/Team/header.jpg') center no-repeat;
    background-size: cover;
}

#team .header {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: space-between;
}

#team .header .site-p span {
    color: var(--purple);
}

#team .header .site-heading {
    gap: .25rem;
    display: flex;
    font-size: 8vw;
    margin-bottom: 1rem;
    align-items: flex-end;
    /* text-transform: uppercase; */
}

#team .header .site-heading span {
    color: var(--blue);
}

.team-marquee {
    row-gap: 1rem;
    width: 100%;
    display: grid;
    column-gap: .5rem;
    grid-template-columns: 1fr 1fr;
}

.team-card {
    gap: .5rem;
    height: 16rem;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    /* border-radius: var(--global-radius); */
    /* background-color: #00000010; */
}

.team-card .team-img {
    flex: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: var(--global-radius);
}

.team-card .team-img img {
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
    transition: 3s ease transform;
}

.team-card:hover .team-img img {
    transform: translateY(-30%);
}

.team-details {
    padding-left: .5rem;
    border-left: .25rem solid var(--blue);
}

.team-details h4 {
    /* color: #ffffff; */
    /* font-size: 2rem; */
}

.team-details p {
    color: var(--purple);
}


@media screen and (min-width: 768px) {
    
    #team {
        padding: 2rem;
    }
    
    #team .header {
        flex-direction: row;
    }

    #team .header .site-heading {
        font-size: 2rem;
    }
    
    #team .header .site-p {
        width: 40%;
        text-align: right;
    }
    
    .team-marquee {
        column-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .team-card {
        gap: 1rem;
        height: 22rem;
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
    
    #team {
        padding: 1rem;
    }
    
    .team-content .header .site-heading {
        font-size: 2.5rem;
    }
    
    .team-content .header .site-p {
        width: 40%;
    }

    .team-marquee {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1240px) {
    
    #team .header .site-p {
        font-size: 1.4rem;
    }
    
    #team .header .site-heading {
        font-size: 3rem;
    }
    
}

@media screen and (min-width: 1600px) {
    #team {
        margin: 5rem 0;
        padding: 2rem 8rem;
    }

    #team .header .site-p {
        width: 35%;
        font-size: 1.6rem;
    }

    .team-marquee {
        row-gap: 2rem;
    }

    .team-card {
        height: 28rem;
    }

    .team-card .site-heading {
        font-size: 2rem;
    }

    #team .header .site-heading {
        font-size: 4rem;
    }
}